{% load staticfiles %}
<!Doctype html>
<html>
    <head>
       <title>User Info</title>
       <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
       <script src="https://use.typekit.net/iii7xtz.js"></script>
       <script>try{Typekit.load({ async: true });}catch(e){}</script>
     </head>
    </head>
    <body>
    
      <div id="wrapper">
        <div class="register">

        <!-- for checking messages with flash -->
  
        <ul>    
          <li><a style="color:blue;" href="/quotes"> Home</a></li>
          <li><a style="color:blue;" href="/">Logout</a></li>
        </ul>

        <br>
        <ul>    
          <!-- <li> {{user.id}}</li> -->
          <li><bold>Posted by: {{user.first_name}}</bold></li>
          <li>Total quote: {{user.user_count}}</li>
        </ul>
        <h4>Quotes:</h4>
        {% if user_quote  %}
        <ul class="messages">
          {% for quote in user_quote  %} 
                  
          <div >
              <ul>
              <li><span style="color:red;">{{quote.quote_author}}</span>**{{quote.quote_text}}</li>
              </ul>
          </div>
            
          {% endfor %}
        </ul>
        {% endif %}
        
      </div>
    </div>
    </body>
</html>
